#container {
    text-align: center;
  
    background-image: linear-gradient(43deg, #cd45b4 0%, #5051c8 46%, #70ffe7 100%);
      position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  ion-content{
    --padding-start: 15px;
    --padding-end:15px;
    --padding-top:15px;
    --padding-bottom: 15px;
  }
  ion-input{

    background-color: rgb(236, 235, 234);
    border-radius:15px ;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
   
  }
  .mic-div{
    display: flex;
  
  }
  .mic-icon{
    margin: auto;
      font-size: 10pc;
      padding: 20% 4px 3px 3px;
      -webkit-text-fill-color: transparent;
      
  }
  .row-1{
  margin: auto;
  }
  .row{
  display: flex;
    text-align: center; 
    justify-content: center;
    padding: 26px 0px;
  .welcom{
    color: #000000;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  }
  
  .music{
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3.5px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 4px 0px 0;
  }
  .app{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  .div-button{
    // padding: 15px;
  
  }
  .login_div2{
    text-align: center;
padding: 15px;
}.login2{
    width: 51%;

    --background: linear-gradient(110deg, #70ffe7 0%, #5051c8 46%, #cd45b4 100%);
    --box-shadow: -6px -6px 8px rgba(255, 255, 255, 0.23), -2px -2px 2px rgba(255, 255, 255, 0.4), 5px 5px 7px rgba(0, 0, 0, 0.25), 1px 1px 2px rgba(0, 0, 0, 0.25);
    --border-radius: 20px;
    font-style: normal;
    font-size: 16px;
    /* line-height: 36px; */
    letter-spacing: 1px;
    color: #ffffff;
    height: 44px;
}
.login3{
    width: 51%;
    --background: white;
    /* --border-radius: 20px; */
    font-style: normal;
    font-size: 16px;
    font-size: 500;
    letter-spacing: 1px;
    color: #000000;
    height: 44px;
    margin: 10px;
    border: 2px solid;
    border-image-slice: 2;
    border-width: 2px;
    border-image-source: linear-gradient(to right, #ff0000, #0000ff);
}.ion-input2{
  
   
        justify-content: center;
        color: #000000;
        align-items: center;
        font-size: 15px;
        background: #FFFFFF;
        --border-radius: 10px;
        width: 100%;
        display: flex;
   
        margin: auto;

   
    } .choose-file{
        font-size: 22px;
        color: #cd45b4;
    }    
.ion-input1{

    background: rgb(236, 235, 234);
    border-radius: 10px;
    width: 100%;
    --padding-top: 10px;
    --padding-start: 10px;
    --padding-bottom: 10px;
    --padding-end: 10px;
    min-height: 45px;
    max-height: 45px;
    --highlight-color-focused:var(--ion-background-color)
 
}
  .bottom-class{
    color: #cfcfcf;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
  }.register_div{
        text-align: center;
       
    }
.Dont_have_account{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: black;
}
.required_here{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.165px;
    color: black;
 
}
  .button-text{

    padding: 0 11px 0;
    font-size: 18px;
        }
  .ion-div{
    display: flex;
    justify-content: space-evenly;
    padding: 42px 4px;
  }
  .lost{
    text-align: center;
    font-size: 15px;
    font-weight: 500;

  }