<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">


  <div >


    <div class="mic-div">
      <ion-icon class="mic-icon" name="mic-outline"></ion-icon>
    </div >

    <div class="row">

      <div class="row-1"> 
      <ion-row class="welcom">
SIGN IN
      </ion-row>
      <ion-row class="music"> 
       TO CONTINUE
      </ion-row>
    </div>
    </div>
    <div class="div-button">
      <div class="">
        <ion-input class="ion-input1" placeholder="user id">
   
        </ion-input>
        <ion-input type="password" class="ion-input1" placeholder="password">

        </ion-input>
      </div>
    </div>
 <div>
  <div  class="login_div2">
    <ion-button  (click)="list()"class="login2">Login</ion-button>
  </div>
  <div class="lost">
    lost password 
  </div>
 </div>
<div class="ion-div">

  

    <ion-buttons class="login3">
      <button ion-button  class='ion-input2' >
      
        <ion-icon  class="choose-file"name="logo-google"></ion-icon>
        <span class="button-text">
Google        </span>
      </button>
    </ion-buttons>
    <ion-buttons class="login3">
      <button ion-button  class='ion-input2' >
      
        <ion-icon  class="choose-file"name="logo-facebook"></ion-icon>
        <span class="button-text">
Facebook        </span>
      </button>
    </ion-buttons>
</div>
  </div>

  <div class="register_div">
    <h3 class="Dont_have_account"><b>Don’t have any account?</b> <B>Register Here</B></h3>
    </div>
</ion-content>
