#container {
  text-align: center;

  background-image: linear-gradient(43deg, #cd45b4 0%, #5051c8 46%, #70ffe7 100%);
    position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-content{
  --background: linear-gradient(110deg, #70ffe7  0%, #5051c8 46%, #cd45b4 100%);
}

.mic-div{
  display: flex;

}
.mic-icon{
  margin: auto;
    font-size: 10pc;
    padding: 20% 4px 3px 3px;
    color: white;
}
.row-1{
margin: auto;
}
.row{
display: flex;
  text-align: center; 
  justify-content: center;
  padding: 26px 0px;
.welcom{
  color: #cfcfcf;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}
}

.music{
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 3.5px;
  color: white;
  text-align: center;
}
.app{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: white;
  text-align: center;
}
.div-button{
  padding: 15px;

ion-button{
  display: flex;
  width: 70%;
  --background: white;
  color: black;
  --border-radius: 31px;
  --: white;
  margin: auto;
  margin-top: 12px;
}}

.bottom-class{
  color: #cfcfcf;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;padding: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
}