<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">


  <div >


    <div class="mic-div">
 
      <ion-icon class="mic-icon" name="mic-outline"></ion-icon>
    </div >

    <div class="row">

      <div class="row-1"> 
      <ion-row class="welcom">
WELCOME TO 
      </ion-row>
      <ion-row class="music"> 
       MUSICAPP
      </ion-row>
    </div>
    </div>
    <div class="div-button">
      <ion-button (click)="login()"> login</ion-button>

      <ion-button> Register</ion-button>
    </div>
 <div>
  <div class="bottom-class">
    or quick login  
  <br>
    with Touch ID
 
  </div>
 </div>
  </div>
</ion-content>
